body{
    background-color: lightseagreen;
}
#rc{
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  body {
    font-size: 20px;
    background-color: lightgreen;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:active{
    color: red;
  }
  
  li a:hover {
    background-color: #111;
  }
  * {
    box-sizing: border-box;
  }
  